.header-bottom-left__logo_small {
    display: block;
    background: url("./images/kdv-logo_small.svg");
    background-size: cover;
    width: 105px;
    height: 28px;
}

@media (min-width: 991px) {
    .header-bottom-left__logo_small {
        display: none;
    }
}