* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/** Большие устройства **/
@media (min-width:1200px) {
    .col-lg-1 {width: 8.33%;}
    .col-lg-2 {width: 16.66%;}
    .col-lg-3 {width: 25%;}
    .col-lg-4 {width: 33.33%;}
    .col-lg-5 {width: 41.66%;}
    .col-lg-6 {width: 50%;}
    .col-lg-7 {width: 58.33%;}
    .col-lg-8 {width: 66.66%;}
    .col-lg-9 {width: 75%;}
    .col-lg-10 {width: 83.33%;}
    .col-lg-11 {width: 91.66%;}
    .col-lg-12 {width: 100%;}
}
/** Средние устройства **/
@media (min-width:970px) and (max-width:1199px) {
    .col-md-1 {width: 8.33%;}
    .col-md-2 {width: 16.66%;}
    .col-md-3 {width: 25%;}
    .col-md-4 {width: 33.33%;}
    .col-md-5 {width: 41.66%;}
    .col-md-6 {width: 50%;}
    .col-md-7 {width: 58.33%;}
    .col-md-8 {width: 66.66%;}
    .col-md-9 {width: 75%;}
    .col-md-10 {width: 83.33%;}
    .col-md-11 {width: 91.66%;}
    .col-md-12 {width: 100%;}
}
/** Малые устройства **/
@media (min-width:768px) and (max-width:961px) {
    .col-sm-1 {width: 8.33%;}
    .col-sm-2 {width: 16.66%;}
    .col-sm-3 {width: 25%;}
    .col-sm-4 {width: 33.33%;}
    .col-sm-5 {width: 41.66%;}
    .col-sm-6 {width: 50%;}
    .col-sm-7 {width: 58.33%;}
    .col-sm-8 {width: 66.66%;}
    .col-sm-9 {width: 75%;}
    .col-sm-10 {width: 83.33%;}
    .col-sm-11 {width: 91.66%;}
    .col-sm-12 {width: 100%;}
    .hidden-sm {
        display: none !important;
    }
}

/** Очень малые устройства **/
@media (min-width:480px) and (max-width:767px) {
    .col-xs-1 {width: 8.33%;}
    .col-xs-2 {width: 16.66%;}
    .col-xs-3 {width: 25%;}
    .col-xs-4 {width: 33.33%;}
    .col-xs-5 {width: 41.66%;}
    .col-xs-6 {width: 50%;}
    .col-xs-7 {width: 58.33%;}
    .col-xs-8 {width: 66.66%;}
    .col-xs-9 {width: 75%;}
    .col-xs-10 {width: 83.33%;}
    .col-xs-11 {width: 91.66%;}
    .col-xs-12 {width: 100%;}
    .hidden-xs {
        display: none;
    }
}
/** Самые малые устройства **/
@media (max-width:479px) {
    .col-xss-1 {width: 8.33%;}
    .col-xss-2 {width: 16.66%;}
    .col-xss-3 {width: 25%;}
    .col-xss-4 {width: 33.33%;}
    .col-xss-5 {width: 41.66%;}
    .col-xss-6 {width: 50%;}
    .col-xss-7 {width: 58.33%;}
    .col-xss-8 {width: 66.66%;}
    .col-xss-9 {width: 75%;}
    .col-xss-10 {width: 83.33%;}
    .col-xss-11 {width: 91.66%;}
    .col-xss-12 {width: 100%;}
    .hidden-xss {
        display: none;
    }
} 