@import "variables.scss";

.links__quicklink {
    color: $quicklink_color;
    text-decoration: none;
    font-size: 11px;
    font-weight: 400;
    /*line-height: 9px;*/
    display: inline-block;
    position: relative;
    padding-left: 26px;
}

.links__quicklink:before {
    content: "";
    position: absolute;
    width: 16px;
    height: 34px;
    left: 0;
}